<div id="<%= dom_id service %>">
  <td>
    <%= service.title %>
  </td>

  <td>
    <%= service.duration %>
  </td>

  <td>
    <%= format_currency(service.price) %>
  </td>

  <td>
    <%= service.is_comissioned %>
  </td>

  <td>
    <%= service.service_id ? service.service.title : '' %>
  </td>

  <td>
    <%= link_to "Editar", edit_service_path(service), class: 'button is-primary' %>
    <%= link_to "Deletar", service, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'button is-danger' %>
  </td>
</div>
