<div class="column is-1 mt-2">
  <%= link_to "Voltar", service_bookings_path, class: "button is-link" %>
</div>
<div class="columns is-centered mt-4">
  <div class="column is-3">
    <%= form_with(model: service_booking, class: "box") do |form| %>
      <%= render 'shared/error_messages', resource: service_booking %>

      <div class="field">
        <%= form.label :notas, style: "display: block", class: "label" %>
        <%= form.text_area :notes, class: "textarea is-small" %>
      </div>

      <div class="field">
        <%= form.label :status, style: "display: block", class: "label" %>
        <div class="control">
          <div class="select is-fullwidth is-medium">
            <%= form.select :status, options_for_select(ServiceBooking.status_attributes_for_select) %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :cliente_id, style: "display: block", class: "label" %>
        <div class="control">
          <div class="select is-fullwidth is-medium">
            <%= form.collection_select :customer_id, @customers, :id, :name, { include_blank: 'cliente...', include_hidden: false } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :serviço_id, style: "display: block", class: "label" %>
        <div class="control">
          <div class="select is-fullwidth is-medium">
            <%= form.collection_select :service_id, @services, :id, :title, { include_blank: 'serviço...', include_hidden: false } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :data_do_agendamento, style: "display: block", class: "label" %>
        <div class="control">
          <div class="is-fullwidth is-medium">
            <% if !service_booking.booking_datetime.nil? %>
              Data / Horário: <strong><%= service_booking.booking_datetime&.to_time.strftime("%d/%m/%Y, %H:%M:%S") %></strong><br />
              Selecione a data abaixo para alterar a data e horário de agendamento <br />
            <% end %>
            <%= form.datetime_field :booking_datetime,
                                          value: service_booking.booking_datetime ||
                                                  Time.new.strftime('%Y-%m-%dT%k:%M') %>
          </div>
        </div>
      </div>

      <div class="buttons is-centered">
        <% if !service_booking.id.nil? %>
          <% description = "Editar Reserva" %>
        <% else %>
          <% description = "Criar Reserva" %>
        <% end %>
        <%= form.submit description, class: "button is-primary" %>
      </div>
    </div>
  <% end %>
</div>
