<div class="columns mt-6 is-centered">
  <div class="column is-3">
    <%= form_for @professional do |form| %>
      <%= render 'shared/error_messages', resource: @professional %>
      <div class="field">
        <label class="label">Nome</label>
          <%= form.text_field :name, class: "input" %>
      </div>
      <div class="field">
        <label class="label">Email</label>
          <%= form.text_field :email, class: "input" %>
      </div>
      <div class="field">
        <label class="label">Telefone</label>
          <%= form.text_field :phone, class: "input" %>
      </div>
      <div class="field">
        <label class="label">Endereço</label>
          <%= form.text_field :address, class: "input" %>
      </div>
      <div class="field">
        <label class="label">Documento</label>
          <%= form.text_field :document, class: "input" %>
      </div>
      <div class="field">
        <label class="label">Avatar</label>
        <%= form.file_field :avatar, class: "input" %>
      </div>
    <h1>Schedules Form</h1>
    <table>
      <thead>
        <th>Dia da Semana</th>
        <th>Começa em</th>
        <th>Termina em</th>
        <th>Intervalo começa em</th>
        <th>intervalo termina em</th>
        <th></th>
      </thead>
      <body>
        <%= render 'schedules/empty' %>
        <%= form.fields_for :schedules do |schedules_form| %>
          <%= render "schedule_fields", f: schedules_form %>
        <% end %>
      </body>
    </table>
    <%= link_to_add_fields "Adicionar nova Agenda", form, :schedules, 'bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded' %>
    <div class="actions">
      <%= form.submit 'Salvar', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded' %>
    </div>
  <% end %>
  </div>
</div>


<script>
  $('form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('tr').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
</script>
