<%= form_for @professional do |form| %>
  <%= render 'shared/error_messages', resource: @professional %>

  <div class="columns">
    <div class="column is-12">
      <div class="field">
        <label class="label">Nome</label>
        <%= form.text_field :name, class: "input" %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <div class="field">
        <label class="label">Email</label>
        <%= form.text_field :email, class: "input" %>
      </div>
    </div>
    <div class="column is-6">
      <div class="field">
        <label class="label">Telefone</label>
        <%= form.text_field :phone, class: "input" %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-12">
      <div class="field">
        <label class="label">Endereço</label>
        <%= form.text_field :address, class: "input" %>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <div class="field">
        <label class="label">Documento</label>
        <%= form.text_field :document, class: "input" %>
      </div>
    </div>
    <div class="column is-6">
      <div class="field">
        <label class="label">Foto</label>
        <%= form.file_field :avatar, class: "input" %>
      </div>
    </div>
  </div>

  <h3 class="title mt-3 is-size-4 has-text-centered">Serviços</h3>
  <div class="columns is-multiline">
    <%= form.collection_check_boxes :service_ids, Service.all, :id, :title do |service| %>
      <div class="column is-3">
        <%= service.check_box class: 'checkbox' %>
        <%= service.label class: 'checkbox' %>
      </div>
    <% end %>
  </div>

  <h3 class="title mt-3 is-size-4 has-text-centered">Horários de Trabalho</h3>
  <div class="my-4 has-text-centered">
    <%= link_to_add_fields "Novo Horário de Trabalho", form, :schedules, 'button is-link' %>
  </div>
  <div>
    <div class="columns has-text-weight-bold">
      <div class="column is-2">Dia da Semana</div>
      <div class="column is-2">Inicia em</div>
      <div class="column is-2">Termina em</div>
      <div class="column is-2">Intervalo inicia em</div>
      <div class="column is-2">Intervalo termina em</div>
    </div>
    <div id="schedule-fields">
      <%= form.fields_for :schedules do |schedules_form| %>
        <%= render "schedule_fields", f: schedules_form %>
      <% end %>
    </div>
  </div>
  <div class="actions my-6 has-text-centered">
    <%= form.submit 'Salvar', class: 'button is-primary' %>
  </div>
<% end %>

<script>
  $('form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.fields').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $('#schedule-fields').append($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
</script>
