<div id="<%= dom_id professional %>">
  <td>
    <%= professional.name %>
  </td>
  <td>
    <%= professional.email %>
  </td>
  <td>
    <%= professional.phone %>
  </td>
  <td>
    <%= professional.address %>
  </td>
  <td>
    <%= professional.document %>
  </td>
  <td>
    <%= link_to professional.avatar.filename, professional.avatar if professional.avatar.attached? %>
  </td>
  <td>
    <%= link_to "Editar", edit_professional_path(professional), class: 'button is-primary' %>
    <%= link_to "Excluir", professional, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'button is-danger' %>
  </td>
</div>
