<div id="<%= dom_id professional %>">
  <td>
    <%= professional.name %>
  </td>
  <td>
    <%= professional.email %>
  </td>
  <td>
    <%= professional.phone %>
  </td>
  <td>
    <%= professional.address %>
  </td>
  <td>
    <%= professional.document %>
  </td>
  <td>
    <%= link_to professional.avatar.filename, professional.avatar if professional.avatar.attached? %>
  </td>
  <td>
    <%= link_to "Edit", edit_professional_path(professional), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded' %>
    <%= link_to "Destroy", professional, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'bg-red-500 hover:bg-red-700 text-white font-bold px-4 rounded' %>
  </td>
</div>
