<%= render 'calendar/adm/date_select', calendar_date: @calendar_date %>

<div class="mt-6 has-text-centered">
  <%= link_to "Nova Reserva", new_booking_path, class: "button is-small is-link" %>
</div>

<div class="columns mt-6 has-text-centered is-justify-content-center">
  <div class="column is-1 is-offset-1"><%= link_to "<<", calendar_adm_path(calendar_date: @calendar_date - 1) %></div>
    <% @professionals.each do |professional| %>
      <% if @calendar_date == Date.today %>
        <div class="column is-1 has-background-info-light">
      <% else %>
        <div class="column is-1">
      <% end %>
      <p class="heading"><%= "#{@calendar_date.day}/#{@calendar_date.year}" %></p>
      <p class="subtitle"><%= link_to "#{professional.name}", professional_path(professional) %></p>
      </div>
    <% end %>
  <div class="column is-1"><%= link_to ">>", calendar_adm_path(calendar_date: @calendar_date + 1) %></div>
</div>

<% @time_range.each do |hour| %>
  <div class="columns mt-6 has-text-centered is-justify-content-center">
    <div class="column is-1 is-flex is-flex-direction-column">
      <%= "#{hour}:00h" %>
    </div>

    <% @professionals.each do |professional| %>
      <div class="column is-1 is-flex is-flex-direction-column pl-2 pr-2">
        <% professional.bookings.each do |booking| %>
          <% if @calendar_date == booking.starts_at.to_date && booking.starts_at.hour == hour %>
            <% if booking.is_inactive? %>
              <h1 class="box px-4 mb-2 mt-2 has-background-danger-light">
            <% else %>
              <h1 class="box px-4 mb-2 mt-2 has-background-light">
            <% end %>
              <p><%= booking.customer_name %></p>
              <p><%= booking.service.title %></p>
              <p><%= "#{booking.sum_duration} min(s)" %></p>
              <p class="is-size-7"><%= I18n.t("activerecord.attributes.booking.statuses.#{booking.status}") %></p>
              <%= link_to "Visualizar", booking_path(booking) %>
            </h1>
          <% end %>
        <% end %>
        <h1 class="tag px-4 mt-2 mb-2"><%= link_to "+", new_booking_path(starts_at: @calendar_date + hour.hour) %></h1>
      </div>
    <% end %>
  </div>
<% end %>
