<%= render 'calendar/professional/date_select', date_select: @date_select %>

<div class="columns mt-6 has-text-centered is-justify-content-center">
  <div class="column is-1 is-offset-1"><%= link_to "<<", calendar_professional_path(calendar_date: @calendar_date - 1) %></div>
  <% @time_range.each do |hour| %>
    <% if @calendar_date == Date.today %>
      <div class="column is-1 has-background-info-light">
    <% else %>
      <div class="column is-1">
    <% end %>
      <p class="heading"><%= "#{@calendar_date.day}/#{@calendar_date.year}" %></p>
      <p class="heading"><%= "#{hour}:00h" %></p>
    </div>
  <% end %>
  <div class="column is-1"><%= link_to ">>", calendar_professional_path(calendar_date: @calendar_date + 1) %></div>
</div>

<div class="columns mt-6 has-text-centered is-justify-content-center">
  <div class="column is-1 is-flex is-flex-direction-column"></div>
  <% @time_range.each do |hour| %>
    <div class="column is-1 is-flex is-flex-direction-column pl-2 pr-2">
      <% current_user.professional.bookings.active.each do |booking| %>
        <% if @calendar_date == booking.starts_at.to_date && booking.starts_at.hour == hour %>
          <h1 class="tag px-4 mb-2"><%= link_to "#{booking.customer_name}", booking_path(booking) %></h1>
        <% end %>
      <% end %>
      <h1 class="tag px-4 mb-2"><%= link_to "+", new_booking_path(starts_at: @calendar_date) %></h1>
    </div>
  <% end %>
</div>
