<div class="columns is-centered mt-4">
  <div class="column is-3">
    <%= form_with(model: booking, class: "box") do |form| %>
      <%= render 'shared/error_messages', resource: booking %>

      <div class="field">
        <%= form.label 'Notas', style: "display: block", class: "label" %>
        <%= form.text_area :notes, class: "textarea is-medium" %>
      </div>

      <div class="field">
        <%= form.label :status, style: "display: block", class: "label" %>
        <div class="control">
          <div class="select is-fullwidth is-medium">
            <%= form.select :status, options_for_select(Booking.status_attributes_for_select) %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label 'Cliente', style: "display: block", class: "label" %>
        <div class="control">
          <div class="select is-fullwidth is-medium">
            <%= form.collection_select :customer_id, @customers, :id, :name, { include_blank: 'selecione...', include_hidden: false } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label 'Serviço', style: "display: block", class: "label" %>
        <div class="control">
          <div class="select is-fullwidth is-medium">
            <%= form.collection_select :service_id, @services, :id, :title, { include_blank: 'selecione...', include_hidden: false } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :booking_datetime, style: "display: block", class: "label" %>
        <div class="control">
          <div class="is-fullwidth">
            <%= form.datetime_select :booking_datetime, value: booking.booking_datetime || DateTime.now %>
          </div>
        </div>
      </div>

      <div class="buttons is-centered">
        <%= form.submit class: "button is-primary" %>
      </div>
    <% end %>
    <%= link_to 'Voltar para reservas', bookings_path, class: "tag is-link is-medium" %>
  </div>
</div>
