<h1 class="title is-size-3 mt-5 has-text-centered">Reserva</h1>

<div class="field label is-size-4">
  <%= label_tag "Nome do Cliente: " %>
  <%= @booking.customer_name.titleize %>
</div>

<div class="columns has-text-centered has-background-light">
  <div class="column">
    <h1 class="has-text-weight-bold">Data</h1>
  </div>
  <div class="column">
    <h1 class="has-text-weight-bold">Profissional</h1>
  </div>
  <div class="column">
    <h1 class="has-text-weight-bold">Nome do(s) Serviço(s)</h1>
  </div>
  <div class="column">
    <h1 class="has-text-weight-bold">Duração</h1>
  </div>
  <div class="column">
    <h1 class="has-text-weight-bold">Preço</h1>
  </div>
  <div class="column">
    <h1 class="has-text-weight-bold">Notas</h1>
  </div>
  <div class="column"></div>
</div>

<div class="columns is-vcentered has-text-centered">
  <div class="column">
    <%= @booking.starts_at.to_time.strftime("%d/%m/%Y") %>
  </div>
  <div class="column">
    <%= @booking.professional_name %>
  </div>
  <div class="column">
    <%= @booking.service.title %>
  </div>
  <div class="column">
    <%= @booking.service.duration %>
  </div>
  <div class="column">
    <%= format_currency(@booking.service.price) %>
  </div>
  <div class="column">
    <%= @booking.notes %>
  </div>
</div>

<div class="columns is-vcentered has-text-centered has-background-light">
  <div class="column"></div>
  <div class="column">
    <h1 class="has-text-weight-bold">
      <%= @booking.sum_duration %> Minuto(s)
    </h1>
  </div>
  <div class="column">
    <h1 class="has-text-weight-bold">
      <%= format_currency(@booking.sum_price) %>
    </h1>
</div>

<div class="has-text-centered">

<%= link_to 'Editar Reserva', edit_booking_path(@booking), class: 'button is-primary' %>
<%= link_to 'Remover Reserva', @booking, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "button is-danger" %>
