<%= form_with(model: stock, url: product_stock_path(@product, @stock)) do |form| %>
  <%= render 'shared/error_messages', resource: stock %>

  <div>
    <%= form.label :quantidade, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :data_da_compra, style: "display: block" %>
    <%= form.date_select :purchased_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
