<%= form_with model: [@product, @stock] do |f| %>
  <%= render 'shared/error_messages', resource: @stock %>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :integralized_at %>
    <%= f.date_select :integralized_at %>
  </div>

  <div>
    <%= f.label :adicionar_ou_remover, class: "display: block" %>
    <%= f.select :type, options_for_select([['adicionar', 'StockIncrement'], ['Remover', 'StockDecrement']]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
