<%= form_with(model: user, class: "box") do |form| %>
  <%= render 'shared/error_messages', resource: user %>

  <div class="field">
    <%= form.label :nome, style: "display: block", class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>  
  </div>

  <div class="field">
    <%= form.label :email, style: "display: block", class: "label" %>
    <div class="control">
      <%= form.text_field :email, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :telefone, style: "display: block", class: "label" %>
    <div class="control">
      <%= form.text_field :phone, class: "input" %>
    </div>
    
  </div>

  <div class="actions">
    <div class="buttons is-centered">
      <%= form.submit "Atualizar", class: "button is-primary" %>
    </div>
    
  </div>
<% end %>
