<div id="<%= dom_id user %>">
  <td>
    <%= user.name %>
  </td>

  <td>
    <%= user.email %>
  </td>

  <td>
    <%= user.phone %>
  </td>

  <td>
    <%= link_to "Edit", edit_user_path(user), class: 'button is-small is-primary' %>
    <%= link_to "Destroy", user, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'button is-small is-danger' %>
  </td>
</div>
