<div id="<%= dom_id user %>">
  <td>
    <%= user.name %>
  </td>

  <td>
    <%= user.email %>
  </td>

  <td>
    <%= user.phone %>
  </td>

  <td>
    <%= link_to "Editar", edit_user_path(user), class: "button is-primary is-small is-hovered" %>
    
    <%= link_to "Deletar", user, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "button is-danger is-small" %>
  </td>
</div>
