<div id="<%= dom_id user %>">
  <td>
    <%= user.name %>
  </td>

  <td>
    <%= user.email %>
  </td>

  <td>
    <%= user.phone %>
  </td>

  <td>
    <%= link_to "Edit", edit_user_path(user), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded' %>
    <%= link_to "Destroy", user, method: :delete, class: 'bg-red-500 hover:bg-red-700 text-white font-bold px-4 rounded' %>
  </td>
</div>
