<!-- Only to create the format of the table -->
<tr id="nested-below" style="visibility: collapse;">
  <td><%= number_field :weekday, type: 'text' %></td>
  <td><%= text_field :starts_at, type: 'text' %></td>
  <td><%= text_field :ends_at, type: 'text' %></td>
  <td><%= text_field :interval_starts_at, type: 'text' %></td>
  <td><%= text_field :interval_ends_at, type: 'text' %></td>
  <td></td>
</tr>
