<%= form_with(model: schedule, class: "contents") do |form| %>
  <%= render 'shared/error_messages', resource: schedule %>

  <div class="my-5">
    <%= form.label :weekday %>
    <%= form.select :weekday, Schedule.weekdays.keys.to_a %>
  </div>

  <div class="my-5">
    <%= form.label :starts_at %>
    <%= form.text_field :starts_at, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :ends_at %>
    <%= form.text_field :ends_at, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :interval_starts_at %>
    <%= form.text_field :interval_starts_at, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :interval_ends_at %>
    <%= form.text_field :interval_ends_at, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>

  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
