<div id="<%= dom_id schedule %>">
  <td>
    <%= schedule.weekday %>
  </td>
  <td>
    <%= schedule.starts_at %>
  </td>
  <td>
    <%= schedule.ends_at %>
  </td>
  <td>
    <%= schedule.interval_starts_at %>
  </td>
  <td>
    <%= schedule.interval_ends_at %>
  </td>
  <td>
    <%= link_to "Edit", edit_schedule_path(schedule), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded' %>
    <%= link_to "Destroy", schedule, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'bg-red-500 hover:bg-red-700 text-white font-bold px-4 rounded' %>
  </td>
</div>
