<div id="<%= dom_id schedule %>">
  <td>
    <%= schedule.weekday %>
  </td>
  <td>
    <%= schedule.starts_at %>
  </td>
  <td>
    <%= schedule.ends_at %>
  </td>
  <td>
    <%= schedule.interval_starts_at %>
  </td>
  <td>
    <%= schedule.interval_ends_at %>
  </td>
  <td>
    <%= link_to "Editar", edit_schedule_path(schedule), class: 'button is-primary' %>
    <%= link_to "Destruir", schedule, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'button is-danger' %>
  </td>
</div>
