<nav>
  <% if current_user %>
    <%= link_to "Users", users_path %> |
    <%= link_to "Customers", customers_path %> |
    <%= link_to "Professionals", professionals_path %> |
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Create an account", new_identities_path %> |
    <%= link_to "login", login_path %>
  <% end %>
</nav>
