<% if current_user %>
  <nav class="navbar has-shadow is-spaced is-dark">
    <div class="navbar-brand">
      <%= link_to "Inka logo", root_path, class: "navbar-item" %>
    </div>
    <div class="navbar-start">
      <%= link_to "Calendários", calendar_index_path, class: "navbar-item" %>

      <%= link_to "Usuários", users_path, class: "navbar-item" %>

      <%= link_to "Clientes", customers_path, class: "navbar-item" %>

      <%= link_to "Profissionais", professionals_path, class: "navbar-item" %>

      <%= link_to "Serviços", services_path, class: "navbar-item" %>

      <%= link_to "Agendamentos", schedules_path, class: "navbar-item" %>

      <%= link_to "Reservas", bookings_path, class: "navbar-item" %>

      <%= link_to "Produtos" , products_path, class: "navbar-item" %>
    </div>
    <div class="navbar-end">
      <strong><%= link_to "Logout", logout_path, class: "button is-light navbar-item" %></strong>
    </div>
  </nav>
<% else %>
  <nav class="navbar has-shadow is-spaced is-dark">
    <div class="navbar-brand">
      <%= link_to "Inka logo", root_path, class: "navbar-item" %>
    </div>
    <div class="navbar-end">
      <strong><%= link_to "Login", login_path, class: "button is-light navbar-item" %></strong>
    </div>
  </nav>
<% end %>
