<%= form_with(model: gift_card, class: "contents") do |form| %>
  <% if gift_card.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(gift_card.errors.count, "error") %> prohibited this gift_card from being saved:</h2>

      <ul>
        <% gift_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Modelo de Vale Presente', class: "label" %>
    <div class="control">
      <div class="select is-fullwidth is-medium">
        <%= form.collection_select :gift_card_template_id, GiftCardTemplate.all, :id, :title, { include_blank: 'selecione...', include_hidden: false } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Cliente', class: "label" %>
    <div class="control">
      <div class="select is-fullwidth is-medium">
        <%= form.collection_select :customer_id, Customer.all.order('name ASC'), :id, :name, { include_blank: 'selecione...', include_hidden: false } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :price, 'Preço', class: "label" %>
    <%= form.text_field :price, class: "input" %>
  </div>

  <div>
    <div class="columns has-text-weight-bold">
      <div class="column is-6">Serviço</div>
      <div class="column is-2">Desconto</div>
      <div class="column is-2">Preço</div>
      <div class="column is-2"></div>
    </div>
    <div class="has-text-centered" id="gift-card-services">
      <%= form.fields_for :gifted_services do |gifted_services_form| %>
        <%= render 'gifted_service_fields', f: gifted_services_form %>
      <% end %>
    </div>
    <div class="my-4">
      <%= link_to_add_fields "Adicionar Novo Serviço", form, :gifted_services, 'button is-link' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :inline_items, 'Items adicionais', class: "label" %>
    <%= form.text_area :inline_items, class: "textarea is-medium" %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descrição (a ser usada na nota fiscal)', class: "label" %>
    <%= form.text_area :description, class: "textarea is-medium" %>
  </div>

  <div class="buttons is-centered my-6">
    <%= form.submit class: 'button is-primary' %>
  </div>

  <script>
    $('form').on('click', '.remove_fields', function(event) {
      var elem = $(this).closest('.gifted-service-fields');
      $(elem).find('input[type=hidden]').val('1');
      $(elem).hide();
      return event.preventDefault();
    });

    $('form').on('click', '.add_fields', function(event) {
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $("#gift-card-services").prepend($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
    });
  </script>
<% end %>
