<tr id="<%= dom_id bill %>">
  <td>
    <%= bill.created_at.strftime("%d/%m/%Y") %>
  </td>

  <td>
    <%= bill.bookings.first&.customer_name %>
  </td>

  <td>
    <%= Booking.human_attribute_name("status.#{bill.status}") %>
  </td>

  <td>
    <% unless bill.is_gift %>
      <% if bill.status == "billed" || bill.status == "billing_canceled" %>
        <%= link_to "Visualizar PDF", bill.pdf_url, target: :blank, class: "button is-link is-small" %>
        <%= link_to "Visualizar XML", bill.xml_url, target: :blank, class: "button is-link is-small" %>
      <% else %>
        <%= render "bills/error_messages", bill: bill %>
      <% end %>
      <%= link_to "Cancelar", edit_bill_path(bill), class: "button is-danger is-small" if bill.status == "billed" %>
    <% end %>
  </td>
</tr>
