<tr id="<%= dom_id bill %>">
  <td>
    <%= bill.created_at.strftime("%d/%m/%Y") %>
  </td>

  <td>
    <%= bill.bookings.first&.customer_name %>
  </td>

  <td>
    <%= Booking.human_attribute_name("status.#{bill.status}") %>
  </td>

  <td>
    <% if bill.status == "billed" ||  bill.status == "billing_canceled" %>
      <%= link_to "Visualizar PDF", bill.get_pdf, target: :blank, class: "button is-link is-small" %>
      <%= link_to "Visualizar XML", bill.get_xml, target: :blank, class: "button is-link is-small" %>
      <%= link_to "Cancelar", edit_bill_path(bill), class: "button is-danger is-small" %>
    <% else %>
      <%= render "bills/error_messages", bill: bill %>
    <% end %>
  </td>
</tr>
