<div id="<%= dom_id customer %>">
  <p>
    <strong><%= Customer.human_attribute_name("customer.name") %></strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong><%= Customer.human_attribute_name("customer.phone") %></strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong><%= Customer.human_attribute_name("customer.address") %></strong>
    <%= customer.address %>
  </p>

  <p>
    <strong><%= Customer.human_attribute_name("customer.document") %></strong>
    <%= customer.document %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= link_to customer.avatar.filename, customer.avatar if customer.avatar.attached? %>
  </p>

</div>
