<tr id="<%= dom_id customer %>">
  <td>
    <%= customer.name %>
  </td>

  <td>
    <%= customer.email %>
  </td>

  <td>
    <%= customer.phone %>
  </td>

  <td>
    <%= customer.address %>
  </td>

  <td>
    <%= customer.document %>
  </td>

  <td>
    <%= link_to customer.avatar.filename, customer.avatar if customer.avatar.attached? %>
  </td>

  <td>
    <%= link_to "Ver", customer, class: "button is-link is-small" %>
    <%= link_to "Editar", edit_customer_path(customer), class: "button is-primary is-small" %>
    <%= link_to "Deletar", customer, method: :delete, class: "button is-danger is-small" %>
  </td>
</tr>
