<div class="columns is-centered">
  <div class="column is-6">
    <%= form_with(model: customer)do |form| %>
      <%= render 'shared/error_messages', resource: customer %>

      <div class="field">
        <%= form.label :name, style: "display: block", class: "label" %>
        <%= form.text_field :name, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :email, style: "display: block", class: "label" %>
        <%= form.text_field :email, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :phone, style: "display: block", class: "label" %>
        <%= form.text_field :phone, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :address, style: "display: block", class: "label" %>
        <%= form.text_field :address, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :document, style: "display: block", class: "label" %>
        <%= form.text_field :document, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :birth_date, 'Data de Nascimento', class: "label" %>
        <%= form.date_field :birth_date, class: "input" %>
      </div>

      <div class="field">
        <%= form.label :gender, style: "display: block", class: "label" %>
        <div>
          <label class="label">
            <%= form.radio_button :gender, 'Feminino' %>
            Feminino
          </label>
        </div>
        <div>
          <label class="label">
            <%= form.radio_button :gender, 'Masculino' %>
            Masculino
          </label>
        </div>
        <div>
          <label class="label">
            <%= form.radio_button :gender, 'Outro' %>
            Outro
          </label>
        </div>
      </div>

      <div class="field">
        <%= form.label :avatar, style: "display: block", class: "label" %>
        <%= form.file_field :avatar, class: "input" %>
      </div>

      <div class="actions has-text-centered my-6">
        <%= form.submit class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>
