<div class="columns is-centered mt-6">
  <div class="column is-narrow">
    <%= link_to "Voltar para clientes", customers_path, class: "tag is-link is-small" %>
    <h1 class="title is-size-3 has-text-centered">Cliente</h1>
    <div class="columns is-centered">
      <div class="column is-2">
        <%= image_tag(@customer.avatar) if @customer.avatar.attached? %>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-6">
        <span class="has-text-weight-bold">Nome:</span> <%= @customer.name %>
      </div>

      <div class="column is-6">
        <span class="has-text-weight-bold">E-mail:</span> <%= @customer.email %>
      </div>

      <div class="column is-6">
        <span class="has-text-weight-bold">Tel:</span> <%= @customer.phone %>
      </div>

      <div class="column is-6">
        <span class="has-text-weight-bold">Endereço:</span> <%= @customer.address %>
      </div>

      <div class="column is-6">
        <span class="has-text-weight-bold">Documento:</span> <%= @customer.document %>
      </div>

      <div class="column is-6">
        <span class="has-text-weight-bold">Data de nascimento:</span> <%= @customer.birth_date.strftime("%d/%m/%Y") %>
      </div>

      <div class="column is-6">
        <span class="has-text-weight-bold">Sexo:</span> <%= @customer.gender %>
      </div>
    </div>

    <h1 class="title is-size-3 has-text-centered">Fichas de Anamnese</h1>
    <div class="has-text-centered">
      <%= link_to "Nova Ficha de Anamnese", new_customer_anamnesis_sheet_path(@customer), class: "button is-link" %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Preechida em</th>
          <th></th>
          <th>Assinada em</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @customer.anamnesis_sheets.each do |anamnesis_sheet| %>
          <tr>
            <td><%= anamnesis_sheet.created_at.strftime("%d/%m/%Y, %H:%M:%S") %></td>
            <td><%= link_to "Ver ficha", [@customer, anamnesis_sheet], class: "button is-primary" %></td>
            <% if anamnesis_sheet.file.attached? %>
              <td><%= anamnesis_sheet.updated_at.strftime("%d/%m/%Y, %H:%M:%S") %></td>
              <td colspan="2"><%= link_to "Ver ficha", anamnesis_sheet.file, class: "button is-primary is-fullwidth" %></td>
            <% else %>
              <%= form_with(model: [@customer, anamnesis_sheet]) do |f| %>
                <td><%= f.file_field :file, class: "select is-primary" %></td>
                <td><%= f.submit "Anexar", class: "button is-primary is-fullwidth" %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
