<div class="columns is-centered mt-6">
  <div class="column is-narrow">
    <div class="has-text-centered">
      <%= link_to "Voltar para clientes", customers_path, class: "tag is-link is-small mb-5" %>
      <%= link_to "Editar", edit_customer_path(@customer), class: "tag is-link is-small mb-5 ml-5" %>
    </div>
    <h1 class="title is-size-3 has-text-centered">Cliente</h1>
    <div class="columns is-centered">
      <div class="column is-2">
        <%= image_tag(@customer.avatar) if @customer.avatar.attached? %>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Nome:</span> <%= @customer.name %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Logradouro:</span> <%= @customer.street_address %>,
        <span class="has-text-weight-bold"></span> <%= @customer.number %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">E-mail:</span> <%= @customer.email %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Complemento:</span> <%= @customer.complement %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Tel:</span> <%= @customer.phone %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Bairro:</span> <%= @customer.district %>,
        <span class="has-text-weight-bold">UF:</span> <%= @customer.state %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Documento:</span> <%= @customer.document %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Cidade:</span> <%= @customer.city %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Data de nascimento:</span> <%= @customer.birth_date&.strftime("%d/%m/%Y") %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">CEP:</span> <%= @customer.zip_code %>
      </div>

      <div class="column is-6 has-text-centered">
        <span class="has-text-weight-bold">Sexo:</span> <%= @customer.gender %>
      </div>
    </div>

    <h1 class="title is-size-3 has-text-centered">Fichas de Anamnese</h1>
    <div class="has-text-centered">
      <%= link_to "Nova Ficha de Anamnese", new_customer_anamnesis_sheet_path(@customer), class: "button is-link" %>
    </div>
  </div>
</div>

<div class="columns has-text-centered">
  <div class="column">
    <h1 class="title">Preenchida em</h1>
  </div>
  <div class="column">
    <h1 class="title">Assinada em</h1>
  </div>
  <div class="column">
    <h1 class="title">Anexar/Atualizar Ficha Assinada</h1>
  </div>
</div>

<% @customer.anamnesis_sheets.each do |anamnesis_sheet| %>
  <%= form_with(model: [@customer, anamnesis_sheet]) do |f| %>
    <div class="columns has-text-centered">
      <div class="column is-one-third">
        <%= anamnesis_sheet.created_at.strftime("%d/%m/%Y, %H:%M:%S") %>
        <%= link_to "Ver ficha", [@customer, anamnesis_sheet], class: "button is-primary is-fullwidth" %>
      </div>

      <div class="column is-one-third">
        <% if anamnesis_sheet.file.attached? %>
          <%= anamnesis_sheet.updated_at.strftime("%d/%m/%Y, %H:%M:%S") %>
          <%= link_to "Ver ficha", anamnesis_sheet.file, class: "button is-primary is-fullwidth" %>
        <% else %>
          Anexo não encontrado
          <%= link_to "", nil, class: "button is-primary is-fullwidth" %>
        <% end %>
      </div>

      <div class="column is-one-third">
        <%= f.file_field :file, class: "is-primary is-small" %>
        <%= f.submit "Anexar", class: "button is-primary is-fullwidth" %>
      </div>
    </div>
  <% end %>
<% end %>
