<p style="color: green"><%= notice %></p>

<h1>Anamnesis sheets</h1>

<div id="anamnesis_sheets">
  <% @anamnesis_sheets.each do |anamnesis_sheet| %>
    <%= render anamnesis_sheet %>
    <p>
      <%= link_to "Show this anamnesis sheet", anamnesis_sheet %>
    </p>
  <% end %>
</div>

<%= link_to "New anamnesis sheet", new_anamnesis_sheet_path %>

<%= link_to "Gerar Link e Qrcode", anemnesis_sheets_link_path %>
