<%= form_with(model: product) do |form| %>
  <%= render 'shared/error_messages', resource: product %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :sku, style: "display: block" %>
    <%= form.text_field :sku %>
  </div>

  <div>
    <%= form.label :unidade, style: "display: block" %>
    <%= form.select :unit, Product.units.keys.to_a %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
