<div id="<%= dom_id product %>">
  <td>
    <%= product.name %>
  </td>

  <td>
    <%= product.sku %>
  </td>

  <td>
    <%= product.unit %>
  </td>

  <td>
    144
  </td>

  <td>
    <%= link_to "Estoque", product_stocks_path(product), class: "button is-link is-small is-hovered" %>
  </td>

  <td>
    <%= link_to "Editar", edit_product_path(product), class: "button is-link is-small is-hovered" %>

    <%= link_to "Deletar", product, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "button is-danger is-small" %>
  </td>
</div>
