<div class="columns is-centered mt-6">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">
          <%= form_with url: search_path, method: :get do %>
            <%= label_tag :query, 'Buscar:' %>
            <%= text_field_tag :query %>
            <%= submit_tag 'Pesquisar' %>
          <% end %>
        </th>
        <th colspan="5">
          <% if @products.empty? %>
            Nenhum registro encontrado.
          <% end %>
        </th>
      </tr>
      <tr>
        <th class="is-size-5">Nome</th>
        <th class="is-size-5">Código SKU</th>
        <th class="is-size-5">Estoque Atual</th>
        <th class="is-size-5">Estoque</th>
        <th colspan="2"></th>
        <th class="has-text-right"><%= link_to "+", new_product_path, class: "tag is-large is-primary" %></th>
      </tr>
    </thead>
    <tbody>
      <div id="products">
        <% @products.each do |product| %>
          <tr>
            <%= render product %>
          </tr>
        <% end %>
      </div>
    </tbody>
  </table>
  </div>
