<h1 class="mt-12 text-center text-3xl font-bold">Relatório mensal</h1>

<h3 class="mt-4 text-2xl text-center font-bold">
  Período: <%= l @starts_at %> - <%= l @ends_at %>
</h3>

<h3 class="mt-12 text-2xl text-center font-bold">
  Faturamento: R$ <%= number_with_precision @report.revenue, precision: 2 %>
</h3>

<div class="flex flex-wrap mt-8">
  <div class="w-1/3 text-center text-xl font-bold">
    Total de Serviços: R$ <%= number_with_precision @report.billed_amounts, precision: 2 %>
  </div>
  <div class="w-1/3 text-center text-xl font-bold">
    Total de Descontos: R$ <%= number_with_precision @report.billed_discounts, precision: 2 %>
  </div>
  <div class="w-1/3 text-center text-xl font-bold">
    Percentual de Descontos: <%= number_with_precision @report.billed_discounts_ratio, precision: 2 %>%
  </div>
</div>

<h3 class="mt-12 text-2xl text-center font-bold">
  Valor de Serviços por Profissional
</h3>

<div class="flex flex-wrap mt-8">
  <% @report.revenue_per_professional.each do |professional_revenue| %>
    <div class="w-1/3 text-xl font-bold">
      <%= professional_revenue[:professional] %>: R$
      <%= number_with_precision professional_revenue[:revenue], precision: 2 %>
    </div>
  <% end %>
</div>

<h3 class="mt-12 text-center text-2xl font-bold">Clientes</h3>

<div class="flex flex-wrap mt-4">
  <div class="w-1/4">
    <p class="mt-4 text-lg font-bold">
      Total de clientes: <%= @report.total_customers %>
    </p>
  </div>
  <div class="w-1/4">
    <p class="mt-4 text-lg font-bold">
      Novos clientes: <%= @report.new_customers %>
    </p>
  </div>
  <div class="w-1/4">
    <p class="mt-4 text-lg font-bold">
      Clientes recorrentes: <%= @report.recurrent_customers %>
    </p>
  </div>
  <div class="w-1/4">
    <p class="mt-4 text-lg font-bold">
      Clientes atendidos: <%= @report.serviced_customers %>
    </p>
  </div>
</div>

<h3 class="mt-12 text-2xl text-center font-bold">Agendamentos</h3>

<div class="flex flex-wrap mt-4">
  <div class="w-1/2">
    <h3 class="mt-4 text-lg font-bold">
      Total de Agendamentos: <%= @report.total_bookings %>
    </h3>
  </div>
  <div class="w-1/2">
    <h3 class="mt-4 text-lg font-bold">
      Agendamentos Concluídos:
      <%= @report.completed_bookings %>
      (<%= number_with_precision @report.completed_bookings_ratio, precision: 2 %>%)
    </h3>
  </div>
  <div class="w-1/2">
    <h3 class="mt-4 text-lg font-bold">
      Agendamentos Cancelados:
      <%= @report.cancelled_bookings %>
      (<%= number_with_precision @report.cancelled_bookings_ratio, precision: 2 %>%)
    </h3>
  </div>
  <div class="w-1/2">
    <h3 class="mt-4 text-lg font-bold">
      Agendamentos Ausentes:
      <%= @report.absent_bookings %>
      (<%= number_with_precision @report.absent_bookings_ratio, precision: 2 %>%)
    </h3>
  </div>
</div>

<h3 class="mt-12 text-center text-2xl font-bold">Agendamentos por dia da semana</h3>

<div class="grid grid-cols-7 gap-4 mt-4">
  <% 7.times do |day| %>
    <h3 class="mt-4 text-center text-lg font-bold">
      <%= t('date.day_names')[day] %><br />
      <%= @report.completed_bookings_per_weekday[day] || 0 %>
    </h3>
  <% end %>
</div>

<h3 class="mt-12 text-center text-2xl font-bold">Serviços Realizados</h3>

<div class="flex flex-wrap mt-8">
  <% @report.completed_services do |completed_service| %>
    <div class="w-1/4">
      <h3 class="mt-4 text-center text-lg font-bold">
        <%= completed_service[:service] %>
        <%= completed_service[:count] %>
      </h3>
    </div>
  <% end %>
</div>

<h3 class="mt-12 text-center text-2xl font-bold">Serviços Realizados por Dia da Semana</h3>

<% @report.completed_services_per_weekday do |service, completions| %>
  <h3><%= service %></h3>
  <div class="grid grid-cols-7 gap-4">
    <% 7.times do |day| %>
      <h3 class="mt-4 text-center text-lg font-bold">
        <%= t('date.day_names')[day] %><br />
        <%= completions[day] %>
      </h3>
    <% end %>
  </div>
<% end %>

<h3 class="mt-12 text-center text-2xl font-bold">Serviços Realizados por Profissional</h3>

<div class="flex flex-wrap mt-8">
  <% @report.completed_bookings_per_professional do |professional_completions| %>
    <div class="w-1/3">
      <%= professional_completions[:professional] %>:
      <%= professional_completions[:count] %>
    </div>
  <% end %>
</div>
